#event-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.event {
  display: grid;
  grid-template-columns: 190px 3fr 120px 40px;
  background-color: var(--theme-0);
  color: var(--theme-5);
  padding: 20px;
  border-radius: 10px;
  transition: 0.25s;
  column-gap: 10px;
  width: 60%;
}

.event:hover {
  background-color: var(--theme-1);
}

.event .name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 4px;
}

.event .genres {
    margin: 6px 0;
}

.event .genres .genre {
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid var(--theme-3);
    width: fit-content;
    font-style: italic;
    font-weight: normal;
    font-size: 0.8rem;
}

.event .start-time,
.event .end-time,
.event .city {
  color: var(--theme-2);
}

.event .link a {
  color: var(--theme-3);
  text-decoration: none;
}

.event .price {
  color: var(--theme-4);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.event .location {
  width: fit-content;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

.event .location a {
  color: var(--theme-6);
  text-decoration: none;
  border-bottom: 1px solid var(--theme-6);
  transition: border-bottom 0.2s ease-in-out, color 0.2s ease-in-out;

}

.event .location:hover a {
  border-bottom: 1px solid var(--theme-4);
  color: var(--theme-4);
}

.event .organizer {
  font-style: italic;
}

.event .date-info {
  display: flex;
  flex-direction: row;
}

.event .date-info .date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    width: 100px;
    height: 100px;
    background-color: var(--theme-5);
    color: black;
}

.event .date-info .time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
    width: 75px;
    height: 100px;
    background-image: linear-gradient(to bottom, var(--theme-1), var(--theme-7));
    color: white;
}

.event .date-info .time .start, .event .date-info .time .end {
    font-size: .8rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.event .date-info .time .to {
    font-size: .7rem;
}

.event .date .day {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.event .date .month {
    font-size: 1rem;
    font-weight: bold;
}

.event .date .day-of-week {
    font-size: 1rem;
    font-weight: bold;
}

.event .event-age {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  color: var(--theme-3);
}

.event .event-age span.highlight {
  font-weight: bold;
}

.event .event-age span.highlight.all-ages {
  color: var(--all-ages);
}

.event .event-age span.highlight.over-18 {
  color: var(--over-18);
}

.event .event-age span.highlight.over-21 {
  color: var(--over-21);
}


.save-icon {
  background-image: url(../../public/img/save_empty.svg);
  filter: invert(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  border: unset;
}

.save-icon:hover {
  opacity: .5;
  border: unset;
  background-color: unset;
}

.save-icon:active {
  opacity: 1;
  border: unset;
  background-color: unset;
  transform: scale(.95);
}

.save-icon.saved {
  background-image: url(../../public/img/save_filled.svg) !important;
}

.save-icon.saved:hover {
  opacity: .8;
}

.save-icon.saved:active {
  opacity: 1;
}

.ticket-button, .event-button {
  margin-top: 10px;
}


.divider {
  width: 70%;
  height: 1px;
  background-color: var(--theme-3);
  margin: 10px 0;
}