:root {
  --theme-0: #070218;
  --theme-1: #190847;
  --theme-2: #0c106f;
  --theme-3: #5425E2;
  --theme-4: #dc008e;
  --theme-5: #dfe9f8;
  --theme-6: #d5ccff;
  --theme-7: #2a2a85;
  --theme-4-alt: rgb(109, 22, 80);

  --all-ages: #40d44d;
  --over-18: #d4d44d;
  --over-21: #d44d4d;
}

@font-face {
  font-family: "Inter";
  src: url(Inter.ttf);
}

@font-face {
  font-family: "TopShow";
  src: url(TopShow.otf);
}

html {
  /* Also defined in html file to prevent
  the page from flashing white upon reload */
  background-color: var(--theme-0);
  overflow-y: scroll;
}

html * {
  font-family: Inter;
}

.App {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr 60px;
}

#loader {
  background-color: var(--theme-0) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

#loader img {
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
  animation-name: pulse;
}

@keyframes spinner {
  0% {
    transform: rotate(-360deg);
  }
  99%, 100% {
    transform: rotate(0deg);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

#loader.done {
  animation: fade-out .25s cubic-bezier(0.075, 0.82, 0.165, 1) 1 forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

button {
  background-color: unset;
  color: var(--theme-5);
  border: 1px solid var(--theme-3);
  padding: 5px 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  width: 100%;
  min-height: 20px;
  border-radius: 20px;
}

button:hover {
  background-color: var(--theme-3);
}

button:active {
  transform: scale(0.95);
}

button.selected {
  background-color: var(--theme-2);
  color: var(--theme-5);
}

/*

Mobile Styles

*/

@media (max-width: 768px) {
  .App {
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto 1fr 60px;
  }

  #loader img {
    width: 40vw;
  }
}